---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	title="Index Me"
	description="this page is Index"
	pubDate={new Date('August 08 2024')}
	mainImage="/blog-placeholder-about.jpg"
>
  <div class="inner">
		<h1>Hello, Astronaut!</h1>
	</div>
</BaseLayout>
